html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    display: flex;
    background-color: gray;
}

main {
    width: 100%;
    display: flex;
    padding: 20px;
}
  
aside {
    width: 250px;
    background-color: #ddd;
    padding: 20px;
}

canvas {
    flex: 1;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
