*, *::before, *::after {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-family: "Roboto", Arial, sans-serif;   
    background-color: gray;
    line-height: 1.6;
}

main {
    min-height: 100vh;
    display: flex;
}

section {
    width: 100%;
    max-height: 100vh;
    display: flex;
    padding: 20px;
}
  
aside {
    width: 300px;
    background-color: #ddd;
    padding: 5px 20px;
}

canvas {
    flex: 1;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

input, select, button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  outline: none;
  width: 100%;
}

.slider {
    height: 1em;
    width: 90%;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

select {
  background-size: 12px;
  padding-right: 30px;
}

.bi25 {
    display: inline-block;
    width: 24.9999999999%;
}

.bi50 {
    display: inline-block;
    width: 49.9999999999%;
}

.bi75 {
    display: inline-block;
    width: 74.9999999999%;
}

@media only screen and (max-width: 720px) {
    section, main {
        display: block;
    }
    aside {
        width: 100%
    }
}
