* {
    margin: 0;
}

body {
    padding: 0;
}

hr {
    width: 80%;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: gray;
}

main {
    width: 100%;
    display: flex;
    padding: 20px;
}
  
aside {
    width: 250px;
    background-color: #ddd;
    padding: 20px;
}

canvas {
    flex: 1;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  outline: none;
  width: 90%;
}

select {
  background-size: 12px;
  padding-right: 30px;
}

@media only screen and (max-width: 720px) {
    body {
        display: block;
    }
    aside {
        width: 100%
    }
}
